.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.logo-img {
    display: block;
    width: 100px;
    margin-left: auto;
}

h2 {
    font-weight: 500;
}

form {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

.formGroup {
    margin-bottom: 1.5em;
}
